@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
  background-color: $greyWhite;
  font-size: 10px;
}

#popup {
  min-width: 350px;
  padding: 10px 20px;

  .main-title {
    font-size: 1.6rem;
  }

  .field-set {
    display: grid;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: .7rem;

    input {
      padding: 0 .5em;
    }
  }

  .button {
    min-width: 100px;
    background: rgb(0, 84, 147);
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    justify-content: center;
    margin: 20px auto;
    cursor: pointer;
  }

  .text-mono {
    font-family: monospace;
  }
}
